//custom variables
$primary: #c29938;
//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.section-title__wrapper {
  margin-top: 60px;
  margin-bottom: 140px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.car-accidents-upper__span {
  position: relative;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  color: #707070;
  text-transform: uppercase;
}

.animate-line .car-accidents-upper__span::before {
  left: -80vw;
}

.car-accidents-upper__span::before {
  content: "";
  position: absolute;
  width: 100vw;
  left: -280vw;
  bottom: -10px;
  height: 3px;
  background: -o-linear-gradient(338deg, #84b403 0, rgba(250, 248, 248, 0.01) 100%);
  background: linear-gradient(112deg, #84b403 0, rgba(250, 248, 248, 0.01) 100%);
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.car-accidents-title__h2 {
  position: relative;
  font-family: "Montserrat";
  font-size: 40px;
  line-height: 53px;
  text-align: left;
  color: #4e0003;
}

.animate-line .car-accidents-title__h2::before {
  right: -80vw;
}

.car-accidents-title__h2::before {
  content: "";
  position: absolute;
  width: 100vw;
  right: -280vw;
  bottom: -10px;
  height: 3px;
  background: -o-linear-gradient(183deg, #84b403 0, rgba(250, 248, 248, 0.01) 100%);
  background: linear-gradient(267deg, #84b403 0, rgba(250, 248, 248, 0.01) 100%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.car-accidents__items {
  padding-top: 104.2px;
}

.car-accident__block {
  padding-bottom: 30px;
}

.car-accident__logo {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.car-accident__logo--1 {
  max-width: 121px;
}
.car-accident__logo--2 {
  max-width: 129px;
}
.car-accident__logo--3 {
  max-width: 86px;
}
.car-accident__logo--4 {
  max-width: 113px;
}
.car-accident__logo--5 {
  max-width: 130px;
}
.car-accident__logo--6 {
  max-width: 124px;
}

.car-accident__h3 {
  font-size: 30px;
  font-weight: 700;
  color: #4e0003;
  line-height: 25px;
}

.car-accident__text {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  color: #707070;
}

.car-accident__link {
  font-weight: 700;
  color: #84b403;
}

//SECTION DID YOU KNOW

.section-did-you-know {
  background: rgba(230, 230, 230, 0.26);
  position: relative;
  font-family: "Montserrat";
}

.h2__did-you-know {
  position: absolute;
  font-family: "Montserrat";
  font-size: 35px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  color: #84b403;
  top: -75px;
  padding: 22px 0;
}

.border-around {
  position: absolute;
  border: 2px solid #84b403;
  width: 83%;
  height: 620px;
  top: -90px;
  left: -20px;
}

.number {
  position: absolute;
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 500;
  line-height: 133px;
  text-align: left;
  padding-left: 12px;
  color: #84b403;
  top: -22px;
  left: 0px;
}
.pl-76 {
  padding-left: 76px;
}
.bold-text {
  font-weight: bolder;
  color: #4e0003;
  font-size: 20px;
  line-height: 25px;
}
.li-item {
  font-size: 20px;
  line-height: 25px;
  color: #707070;
  list-style-type: square;
}
.p-text {
  font-size: 20px;
  line-height: 25px;
  color: #707070;
}

.img-cover {
  max-width: 100%;
  height: auto;
  align-self: center;
}

.img-cover__png {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-right: -30%;
  overflow-x: visible;
  border: 1px solid #4e0003;
}

.green-rectangle {
  position: absolute;
  background-color: #84b403;
  height: 243px;
  width: 47px;
  top: 44px;
  right: -22px;
}
/**************************/
/* BELOW 1200px (Desktops) */
/**************************/
@media only screen and (max-width: 1200px) {
  .car-accident__logo {
    justify-content: start;
    margin: 0;
    padding-bottom: 12px;
  }
  .h2__did-you-know {
    position: relative;
    top: 0;
    text-align: center;
  }

  .green-rectangle {
    transform: rotate(-90deg);
    height: 174px;
    width: 25px;
    top: -87px;
    left: 168px;
  }

  .img-cover__png {
    width: 98%;
  }

  .p-text {
    padding-bottom: 40px;
  }

  .border-around {
    width: 103%;
    height: 92%;
    top: 7%;
    left: -12px;
  }
}
/**************************/
/* BELOW 576px (Desktops) */
/**************************/

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .green-rectangle {
    transform: rotate(-90deg);
    height: 95px;
    width: 18px;
    top: -46px;
    left: 115px;
  }

  .p-text {
    line-height: 23px;
    font-weight: bold;
  }

  .section-did-you-know {
    padding-left: 31px;
    padding-right: 41px;
  }
}
